@CHARSET "UTF-8";
/* main-2.1.css RESET */
.block-title .nav-tabs>li>a:hover{
	background-color:rgba(218,224,232,.2);
}
/* RESET END */
.station {
	width: 960px;
	margin-bottom: 20px;
	border: 1px solid #DFDFDF;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.3);
	box-shadow: 1px 1px 4px rgba(0,0,0,.3);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url(../project/background.png);
}
.station-mobile {
}
.station-bg {
	width: 960px;
}
.value-panel {
	position: absolute;
	padding: 8px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	letter-spacing: 0.1em;
	background-color: rgba(109,126,143,0.7);
	line-height: 2;
}
.value-panel-ex {
	background-color: transparent;
}
.value-panel-noBg {
	font-weight: bold;
	line-height: 1.5;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.8);
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
.value-info {
	width: 180px;
	padding: 16px;
}
.value-panel ul{
	margin-bottom: 0;
}
/* valv = 阀门 */
.valv {
	position: absolute;
}
.valv img {
	display: none;
	cursor: auto;
}
.valv .ok {
	-webkit-animation:1.2s linear 0s normal none infinite rotate;
	animation: 1.2s linear 0s normal none infinite rotate;
}
@-webkit-keyframes rotate{
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
/* 时间框 */
.input-timerpick-nobtn .input-timepicker24 {
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
/* csscheckbox 修复显示 */
.csscheckbox {
	cursor: auto;
}
.csscheckbox input {
	z-index: -1;
}
.csscheckbox span {
	cursor: pointer;
}
.csscheckbox input[disabled] {
	opacity: 0;
}
.csscheckbox input[disabled]+span {
	cursor: not-allowed;
	background-color: #EEE;
}
.csscheckbox input:checked+span:after{
	background-color: #5CCDDE;
}
.csscheckbox input[disabled]:checked+span:after{
	opacity: .5;
	background-color: #5CCDDE;
}
/* 远程控制 */
.colorblock {
	display: inline-block;
	width: 60px;
	height: 22px;
	padding-top: 1px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	color: white;
	border-radius: 4px;
}

.colorblock + button{
	margin-left: .6em;
}

.colorblock.stopwork {
	background-color: #DE815C;
}

.colorblock.startwork {
	background-color: #AFDE5C;
}
/* 太阳能 / 热泵 */
ul.item-panel {
	width: 116px;
	margin: 0 auto;
	margin-bottom: 0;
}
ul.item-panel li {
	width: 50px;
	color: white;
	background-color: #CBCDCD;
	margin: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
	text-align: center;
}
.state-ok {
	background-color: #45C1A9 !important;
}
.state-fault {
	background-color: #FF6A4F !important;
}
span.state-ok {
	color: white;
	padding: 1px 4px;
}
span.state-fault {
	color: white;
	padding: 1px 4px;
}